#page3 {
    margin-top: 10vh;
    height: 90vh;
    background: #0F0E0E;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-container-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    h2 {
        font-size: 32px;
        color: white;
        font-family: "Prata", serif;
    }
}
.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .card {
        border: 0px solid aqua;
        margin: 40px;
        position: relative;
        height: 60vh;
        overflow: hidden;
        border-radius: 0.5rem;
        flex: 1;
        box-shadow: 0 0 1rem rgba(43, 42, 42, 0.5);
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: transform 3s ease;
            position: relative;
            z-index: -1;
        }
        .card-text {
            position: absolute;
            bottom: 0rem;
            padding: 1rem;
            width: 100%;
            color: white;
            transition: background-color 1.5s ease;
        }
        .card-title {
            transition: color 1s ease;
            margin-bottom: .5rem;
        }
        .card-detail {
            max-height: 0;
            opacity: 0;
            transition: max-height 1.5s ease, opacity 1s ease;
        }
        .read-more {
            background-color: black;
            color: #bbb;
            display: flex;
            align-items: center;
            padding: 0.4rem 0.6rem;
            margin-top: 1rem;
            font-size: 0.8rem;
            border: 1px solid #444;
            width: 7rem;
            margin-left: auto;
            position: relative;
            z-index: 6;
            text-decoration: none;
        }
        .arrow-right {
            width: 20px;
            height: auto;
            margin-left: 8px;
        }
        &:hover {
            img {
                transform: scale(1.1);
                z-index: -1;
            }
            .card-detail {
                max-height: 30vh;
                opacity: 1;
            }
            .card-text {
                background-color: rgba(0, 0, 0, 0.6);
            }
            .card-title {
                color: #ffc107;
            }
        }
    }
}
